[Unit]
Description=Plex Media Server
After=network.target

[Service]
EnvironmentFile=/apps/plexmediaserver/plexmediaserver_environment
ExecStartPre=/apps/plexmediaserver/pre-start.sh
ExecStart=/bin/sh -c '/apps/plexmediaserver/Binaries/Plex\ Media\ Server'
Type=simple

[Install]
WantedBy=multi-user.target
