[Unit]
Description=Plex User Directory Creator
Before=plex.service

[Service]
Type=oneshot
Environment=PLEX_USER_HOME_DIR=%h
ConditionPathIsDirectory=!"$PLEX_USER_HOME_DIR/Library/Application Support"
ExecStart=mkdir -p "$PLEX_USER_HOME_DIR/Library/Application Support"
RefuseManualStart=true
StopWhenUnneeded=true
ReloadPropogatedFrom=plex.service
User=plex
Group=plex
