[Unit]
Description=Plex Media Server for Linux
After=network.target

[Service]
ConditionPathIsDirectory=/var/lib/plexmediaserver/Library/Application Support
Environment=PLEX_MEDIA_SERVER_HOME=/usr/lib/plexmediaserver
Environment=PLEX_MEDIA_SERVER_MAX_PLUGIN_PROCS=6
Environment=PLEX_MEDIA_SERVER_TMPDIR=/tmp
Environment=LD_LIBRARY_PATH=/usr/lib/plexmediaserver
Environment=LC_ALL=en_US.UTF-8
Environment=LANG=en_US.UTF-8
Environment=PLEX_MEDIA_SERVER_APPLICATION_SUPPORT_DIR=/var/lib/plexmediaserver/Library/Application Support
ExecStart=/usr/lib/plexmediaserver/PlexMediaServer
Type=simple
User=plex
Group=plex

[Install]
Wants=plex-mkdir.service
WantedBy=multi-user.target
